* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bed8d7;
  font-family: Roboto sans-serif;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f7ec19;
  cursor: pointer;
}

header {
  width: 100%;
  height: 600px;
  position: relative;
  background: url('/assets/images/alev.jpg') no-repeat center center/cover;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 5px;
  z-index: 2;
  padding: 10px 0;
}

.logo img {
  width: 60px;
}

.nav-links .active {
  color: #f7ec19;
}

.nav-links .active:hover {
  color: #4caf50;
}
.nav-links ul {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
}

.nav-links a:hover {
  color: #f7ec19;
  cursor: pointer;
}

.menu-btn {
  display: none;
}

.login a {
  color: white;
}

.login a:hover {
  cursor: pointer;
  color: #f7ec19;
}

.login .btn {
  padding: 15px 25px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px;
}

.hero-container {
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  width: 350px;
  font-size: 2.5rem;
}

.hero-content .sub-heading {
  width: 50%;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.page-box {
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #7c8b90;
  padding: 10px 0;
  border-radius: 5px;
  position: relative;
  bottom: -1.5px;
  left: 0;
}

.box {
  padding: 10px;
}

.box p {
  padding-top: 20px;
}

.explore {
  height: 50px;
  background: #4caf50;
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 1;
}

.text-icon {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.box-content i {
  font-size: 14px;
  color: #fff;
}

.box-content p {
  margin: 0;
}

.explore p {
  padding-top: 5px;
  text-align: center;
}

.box-two {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #7c8b90;
  position: relative;
  z-index: 1;
}

.explore-now button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #4caf50;
}

.explore-now .btnn {
  display: none;
}

header button {
  color: white;
  cursor: pointer;
}

/* About Us Section */
.about {
  padding: 50px 0;
  background: white;
}

.about-container {
  display: flex;
  align-items: start;
  padding: 100px 80px;
}

.about-left {
  position: relative;
  width: 55%;
  display: flex;
}

.about-left img {
  width: 350px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.card2 {
  position: relative;
  top: 60px;
  right: 25%;
}

.card2 img {
  height: 300px;
}

.about-right {
  width: 45%;
  margin-left: 70px;
}

span {
  color: #f7ec19;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

.about-right h3 {
  width: 80%;
  font-size: 2rem;
  line-height: 1.5;
}

.about-right button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
  margin-top: 30px;
  color: white;
}

/* Features Section */
.features {
  width: 100%;
  background: #ededed;
}

.features-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  padding: 50px 20px;
  margin: 0 auto;
}

.features-left {
  width: 40%;
}

.features-left h2 {
  font-size: 25px;
  margin: 15px 0;
}

.features-left .heading {
  width: 80%;
  margin-bottom: 30px;
}

.guide {
  display: flex;
  margin: 15px 0;
}

.icons {
  margin-right: 20px;
}

.icons i {
  background: #4caf50;
  padding: 8px 8px;
}

.icon-text h3 {
  margin-bottom: 10px;
}

.icon-text p {
  width: 80%;
}

.icons .fa-user-group {
  background: #edcbc0;
}

.icons .fa-tags {
  background: #f7ec19;
}

.features-item {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.features-item img {
  width: 250px;
  height: 250px;
}

.img1 img {
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.img2 img {
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.img3 img {
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.img4 img {
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

/* Destination Section */

.destination {
  background: rgb(245, 238, 238);
  padding: 70px 0;
}

.destination-container {
  width: 100%;
  max-width: 1200px;
  padding: 50px 20px;
  margin: 0 auto;
}

.destination-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.destination-content .description {
  width: 40%;
  text-align: center;
  padding-top: 10px;
}

.destination-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.destination-card {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.destination-card:hover {
  transform: scale(1.05);
}

.destination-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 80px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
}

.destination-desc {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
  color: white;
  padding: 10px 15px;
}

.destination-desc span.num {
  position: absolute;
  right: 15px;
  color: white;
}

/* Blog section */

.blog {
  width: 100%;
  background: #ededed;
}

.blog-container {
  width: 100%;
  max-width: 1200px;
  padding: 50px 20px;
  margin: 0 auto;
}

.blog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.blog-content p {
  width: 50%;
  text-align: center;
  padding-top: 10px;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 30px 0;
}

.blog-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  height: 350px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 20px;
}

.blog-item img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: 350px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content h3 {
  padding: 30px 0 10px 0;
}

.blog-item p {
  font-size: 13px;
  line-height: 20px;
}

button.read-more {
  margin-top: 30px;
  color: white;
  transition: transform 0.3s ease-in-out;
}

button.read-more:hover {
  cursor: pointer;
  color: #333;
  transform: scale(1.05);
}

/* News Letters Section */

.newsletter {
  width: 100%;
  padding: 70px 0;
  text-align: center;
  background: rgb(245, 238, 238);
}

.newsletter h2 {
  padding-bottom: 20px;
}

.newsletter input[type='email'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  flex: 1;
  max-width: 300px;
}

.newsletter button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 50px;
}

footer p {
  margin: 0;
}

/* Media queries */

@media (max-width: 1024px) {
  header {
    height: 500px;
  }

  .hero-container {
    padding-bottom: 12rem;
  }

  .about,
  .features,
  .blog,
  .destination {
    width: 100%;
    padding: 50px 50px 80px 50px;
  }

  .about-container {
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    position: relative;
    padding: 50px 0;
  }

  .card2 {
    right: 35%;
  }

  .about-right {
    margin-left: 30px;
  }

  .about-right h3 {
    line-height: normal;
    font-size: 24px;
    padding: 20px 0;
  }

  .blog-cards {
    grid-template-columns: 1fr;
    padding: 50px;
  }
}

/* @media max-width 768px */

@media (max-width: 768px) {
  header {
    height: 600px;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 50px;
  }

  .hero-container {
    padding: 0;
  }

  .login {
    display: none;
  }

  .menu-btn {
    position: absolute;
    display: block;
    padding: 0 0 15px 0;
    top: 20px;
    right: 30px;
  }

  .nav-links ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 50%;
    height: 100vh;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-links ul.main-menu.show {
    transform: translateX(-20px);
  }

  .nav-links li {
    padding: 0 0 30px 20px;
  }

  .about,
  .features,
  .blog,
  .destination {
    width: 100%;
    padding: 50px;
    max-width: 768px;
  }

  .page-box {
    width: 40%;
  }

  .box-two {
    width: 85%;
    padding-bottom: 30px;
  }

  .about {
    padding: 50px 0;
  }

  .about-container {
    justify-content: start;
    align-items: start;
    flex-direction: column-reverse;
  }

  .about-left {
    padding: 20px 50px;
  }

  .about-right {
    width: 100%;
    padding-left: 50px;
    margin: 0;
  }

  .about-right h3 {
    width: 50%;
  }

  .about-right p {
    width: 35%;
  }

  .features-container {
    flex-direction: column;
    gap: 50px;
  }

  .features-left {
    width: 70%;
  }
  .features-left .heading {
    width: 90%;
  }

  .destination-content .description {
    width: 80%;
  }

  .destination-wrapper {
    flex-wrap: wrap;
    gap: 50px;
  }

  .blog-content p {
    width: 80%;
  }

  .card-content {
    padding: 0 20px;
  }
}
/* Max-Width 500px */

@media (max-width: 500px) {
  .hero-container {
    top: 100px;
  }

  .hero-content .sub-heading {
    width: 100%;
  }

  .page-box {
    display: none;
  }

  .box-two {
    display: none;
  }

  .box-content {
    padding-left: 20px;
  }

  .explore-now .btnn {
    display: block;
    margin-left: 30px;
  }

  .about-container {
    padding: 0 30px;
    gap: 30px;
  }

  .about-left {
    flex-direction: column;
    padding: 20px;
  }

  .card2 {
    position: relative;
    top: 30px;
    left: 5px;
  }

  .about-right {
    margin: 0;
    padding: 0 30px;
  }

  .about-right h3 {
    width: 100%;
    line-height: normal;
  }

  .about-right p {
    width: 80%;
    padding-top: 10px;
  }

  .features {
    padding: 20px;
    width: 100%;
  }

  .features-left {
    width: 100%;
  }

  .features-left .heading {
    width: 100%;
  }

  .icon-text p {
    width: 100%;
  }

  .features-right {
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .features-item {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }

  .square img {
    border-radius: 10px;
    width: 330px;
    height: 300px;
  }

  .destination-container {
    padding: 0;
  }

  .destination-content .description {
    width: 100%;
  }

  .blog-container {
    padding: 50px 0;
  }

  .blog-cards {
    padding: 0;
  }

  .blog-content p {
    width: 90%;
  }

  .blog-item {
    width: 350px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: auto;
    width: auto;
  }

  .blog-item img {
    width: 300px;
    height: 350px;
    object-fit: cover;
  }

  .card-content {
    width: 300px;
    height: 280px;
  }

  .newsletter {
    width: 100%;
  }

  footer {
    width: 100%;
    padding: 50px;
    margin: 0;
  }
}

/* Max-Width 425px */
@media (max-width: 425px) {
  header {
    width: 100%;
  }

  .logo img {
    position: absolute;
    left: 0;
  }

  .hero {
    padding: 0;
  }

  .hero-content {
    padding: 30px 30px;
  }

  .hero-content .sub-heading {
    padding: 20px 0 10px 0;
  }

  .about-container {
    padding: 0;
  }

  .features-item {
    padding: 0;
  }
}

/* Max-Width 375px */
@media (max-width: 375px) {
  .hero {
    padding: 80px 0 0 20px;
  }

  .hero-container {
    top: 50px;
  }
  .hero-content {
    padding: 20px 0 0 10px;
  }
  .hero-content h1 {
    padding: 10px 0;
  }

  .hero-content .sub-heading {
    padding-bottom: 20px;
  }

  .explore-now .btnn {
    margin-left: 0;
  }

  .about {
    padding: 10px 0;
  }

  .about-left {
    padding: 10px;
    margin: 0;
  }

  .features {
    padding: 10px;
  }

  .features-container {
    padding: 10px;
  }

  .features-right {
    padding: 30px 0;
    margin: 0;
  }

  .features-item {
    padding-right: 0;
  }
}

/* Max-Width: 320px */

@media (max-width: 320px) {
  .hero-content h1 {
    width: 100%;
  }
  .about {
    padding: 50px 0;
  }
  .about-left img {
    width: 280px;
  }

  .features-item .square img {
    width: 280px;
  }

  .blog {
    padding: 10px;
  }
}
